html {
  height: 100%;
  overflow: hidden;
}
body {
  width: 480px;
  height: 600px;
  padding-top: 70px;
  overflow: auto;
}

.navbar {
  border-bottom: 1px solid #fff;
}

.navbar .badge {
  margin-left: 1em;
}

.dropdown {
  position: inherit;
}

.msg-warning {
  background: #fcf8e3;
  padding: 10px 20px 0;
  margin: 0 0 20px;
  border: 1px solid #eee;
  border-left: 5px solid #f0ad4e;
  border-radius: 3px;
}
.msg-warning h4 {
  color: #f0ad4e;
  margin: 0 0 10px;
}

.list-group {
  margin: -20px 0 0;
}
.list-group-item {
  border-radius: 0 !important;
}

.watch {
  float: right;
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: -10px -15px;
}
.watch .btn {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  line-height: 30px;
  text-align: center;
  border-radius: 30px;
  background: none;
  color: #777;
  opacity: .5;
}
.watch .btn:hover, .watch .btn.active {
  color: #000;
  opacity: 1;
}
.watch .btn.active {
  background: #fff;
  color: #FF9500;
  text-shadow: none;
}

.navbar .watch {
  margin: 6px 1px 0;
}

.job {
  cursor: pointer;
  border-color: #fff;
}
.label {
  margin-left: 1em;
  border-radius: 1em;
}
.children {
  margin: 10px -16px 0 0;
}

.offline .job {
  background: #efefef;
  color: #000;
}
.offline .job:hover {
  background: #ddd;
  color: #000;
}
.offline .label {
  display: none;
}
